@use 'reset';

//breakpoints taken from Bootstrap
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//variables for flex based grid
$gutter-width: 10px;
$cols-count: 12;

//variables for responsive container
$container-max-width: 1250px;
$container-fluid-width: 100%;


.container {
    max-width: $container-max-width;
    margin:0 auto;
}

.container-fluid {
    width: $container-fluid-width;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.col {
    flex: 1;
}
.col-1 {
    flex-basis: calc(1/12 * 100%);
}
.col-2 {
    flex-basis: calc(2/12 * 100%);
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: calc(4/12 * 100%);
}
.col-5 {
    flex-basis: calc(5/12 * 100%);
}
.col-6 {
    flex-basis: 50%;
}
.col-7 {
    flex-basis: calc(7/12 * 100%);
}
.col-8 {
    flex-basis: calc(8/12 * 100%);
}
.col-9 {
    flex-basis: 75%;
}
.col-10 {
    flex-basis: calc(10/12 * 100%);
}
.col-11 {
    flex-basis: calc(11/12 * 100%);
}
.col-12 {
    flex-basis: 100%;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
	flex-basis: 100%;
}

@media (min-width: 992px) {
	.col-lg-1 { flex-basis: calc(1 / 12 * 100%); }
	.col-lg-2 { flex-basis: calc(2 / 12 * 100%); }
	.col-lg-3 { flex-basis: 25%; }
	.col-lg-4 { flex-basis: calc(4 / 12 * 100%); }
	.col-lg-5 { flex-basis: calc(5 / 12 * 100%); }
	.col-lg-6 { flex-basis: 50%; }
	.col-lg-7 { flex-basis: calc(7 / 12 * 100%); }
	.col-lg-8 { flex-basis: calc(8 / 12 * 100%); }
	.col-lg-9 { flex-basis: 75%; }
	.col-lg-10 { flex-basis: calc(10 / 12 * 100%); }
	.col-lg-11 { flex-basis: calc(11 / 12 * 100%); }
	.col-lg-12 { flex-basis: 100%; }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	flex-basis: 100%;
}

@media (min-width: 768px) {
	.col-md-1 { flex-basis: calc(1 / 12 * 100%); }
	.col-md-2 { flex-basis: calc(2 / 12 * 100%); }
	.col-md-3 { flex-basis: 25%; }
	.col-md-4 { flex-basis: calc(4 / 12 * 100%); }
	.col-md-5 { flex-basis: calc(5 / 12 * 100%); }
	.col-md-6 { flex-basis: 50%; }
	.col-md-7 { flex-basis: calc(7 / 12 * 100%); }
	.col-md-8 { flex-basis: calc(8 / 12 * 100%); }
	.col-md-9 { flex-basis: 75%; }
	.col-md-10 { flex-basis: calc(10 / 12 * 100%); }
	.col-md-11 { flex-basis: calc(11 / 12 * 100%); }
	.col-md-12 { flex-basis: 100%; }
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
	flex-basis: 100%;
}

@media (min-width: 576px) {
	.col-sm-1 { flex-basis: calc(1 / 12 * 100%); }
	.col-sm-2 { flex-basis: calc(2 / 12 * 100%); }
	.col-sm-3 { flex-basis: 25%; }
	.col-sm-4 { flex-basis: calc(4 / 12 * 100%); }
	.col-sm-5 { flex-basis: calc(5 / 12 * 100%); }
	.col-sm-6 { flex-basis: 50%; }
	.col-sm-7 { flex-basis: calc(7 / 12 * 100%); }
	.col-sm-8 { flex-basis: calc(8 / 12 * 100%); }
	.col-sm-9 { flex-basis: 75%; }
	.col-sm-10 { flex-basis: calc(10 / 12 * 100%); }
	.col-sm-11 { flex-basis: calc(11 / 12 * 100%); }
	.col-sm-12 { flex-basis: 100%; }
}

.order-1 { 
    order: 1; 
}
.order-2 { 
    order: 2; 
}
.order-3 { 
    order: 3; 
}
.order-4 { 
    order: 4; 
}
.order-5 { 
    order: 5; 
}
.order-6 { 
    order: 6; 
}
.order-7 { 
    order: 7; 
}
.order-8 { 
    order: 8; 
}
.order-9 { 
    order: 9; 
}
.order-10 { 
    order: 10; 
}
.order-11 { 
    order: 11; 
}
.order-12 { 
    order: 12; 
}

//Display properties

.d-block {
    display: block;
}

.d-flex {
    display: flex
}

.d-inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

.flex-r-column {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-r-row {
    flex-direction: row-reverse;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

//Flex manipulation

.align-items-start {
    align-items: flex-start;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .align-items-stretch {
    align-items: stretch;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  .align-items-baseline {
    align-items: baseline;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-evenly {
    justify-content: space-evenly;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-content-start {
    align-content: flex-start;
  }
  
  .align-content-center {
    align-content: center;
  }
  
  .align-content-stretch {
    align-content: stretch;
  }
  
  .align-content-end {
    align-content: flex-end;
  }
  
  .align-content-evenly {
    align-content: space-evenly;
  }
  
  .align-content-around {
    align-content: space-around;
  }
  
  .align-content-between {
    align-content: space-between;
  }
  
  .align-self-start {
    align-self: start;
  }
  
  .align-self-center {
    align-self: center;
  }
  
  .align-self-stretch {
    align-self: stretch;
  }
  
  .align-self-end {
    align-self: end;
  }
  
  .align-self-baseline {
    align-self: baseline;
  }


//Sizing

.m-0 {
    margin: 0;
}
.m-1 {
    margin: 10px;
}
.m-2 {
    margin: 20px;
}
.m-3 {
    margin: 30px;
}
.m-4 {
    margin: 40px;
}
.m-5 {
    margin: 50px;
}
.mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}
.mx-2 {
    margin-left: 20px;
    margin-right: 20px;
}
.mx-3 {
    margin-left: 30px;
    margin-right: 30px;
}
.mx-4 {
    margin-left: 40px;
    margin-right: 40px;
}
.mx-5 {
    margin-left: 50px;
    margin-right: 50px;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.my-4 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.my-5 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 10px;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mt-4 {
    margin-top: 40px;
}
.mt-5 {
    margin-top: 50px;
}
.mr-0 {
    margin-right: 0;
}
.mr-1 {
    margin-right: 10px;
}
.mr-2 {
    margin-right: 20px;
}
.mr-3 {
    margin-right: 30px;
}
.mr-4 {
    margin-right: 40px;
}
.mr-5 {
    margin-right: 50px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}
.ml-0 {
    margin-left: 0;
}
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}
.ml-5 {
    margin-left: 50px;
}

.p-0 {
    padding: 0;
}
.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}
.p-4 {
    padding: 40px;
}
.p-5 {
    padding: 50px;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.px-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.px-4 {
    padding-left: 40px;
    padding-right: 40px;
}
.px-5 {
    padding-left: 50px;
    padding-right: 50px;
}
.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.py-4 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.py-5 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: 10px;
}
.pt-2 {
    padding-top: 20px;
}
.pt-3 {
    padding-top: 30px;
}
.pt-4 {
    padding-top: 40px;
}
.pt-5 {
    padding-top: 50px;
}
.pr-0 {
    padding-right: 0;
}
.pr-1 {
    padding-right: 10px;
}
.pr-2 {
    padding-right: 20px;
}
.pr-3 {
    padding-right: 30px;
}
.pr-4 {
    padding-right: 40px;
}
.pr-5 {
    padding-right: 50px;
}
.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: 10px;
}
.pb-2 {
    padding-bottom: 20px;
}
.pb-3 {
    padding-bottom: 30px;
}
.pb-4 {
    padding-bottom: 40px;
}
.pb-5 {
    padding-bottom: 50px;
}
.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 10px;
}
.pl-2 {
    padding-left: 20px;
}
.pl-3 {
    padding-left: 30px;
}
.pl-4 {
    padding-left: 40px;
}
.pl-5 {
    padding-left: 50px;
}
